body, html {
    margin: 0;
    font-family: 'Lora', serif;
    line-height: 2;
}

.homepage {
    display: flex;
    height: 100vh;
}

h1 {
    font-size: 2.5em;
}

.hero-text {
    color: #136858;
}

h4 {
    color: #9B9A97;
    font-size: 0.8em;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 1rem;
}

ul li {
    margin-bottom: 0.5rem;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: #9B9A97;
}

.image-section {
    background-image: url('../assets/images/standish-homepage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 200px;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 40px;
    padding-top: 0;
    padding-right: 5rem;
    padding-left: 3rem;
}

.spacer {
    height: 10px;
}

.portfolio-section {
    padding: 2rem;
    text-align: center;
    background-color: #f8f9fa;
}

.portfolio-section h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.portfolio-grid {
    display: grid; /* Change this line */
    grid-template-columns: repeat(auto-fill, minmax(46%, 1fr)); /* Add this line */
    gap: 1.5rem;
    padding-bottom: 2rem;
    box-sizing: border-box; /* Add this line to prevent horizontal scrolling */
}

.portfolio-item {
    min-height: 300px; /* Add a minimum height to ensure enough space for content */
    overflow: hidden; /* Add this line to hide any content that might overflow */
    border-radius: 4px; /* Add this line to round corners of the portfolio item */
    transition: 0.3s;
}

.portfolio-img {
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#777;
    background-blend-mode: multiply;
}

.portfolio-item a {
    text-decoration: none;
    color: inherit;
}

.portfolio-item:hover {
    transform: scale(1.01);
}

.portfolio-item h5 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.portfolio-item p {
    margin: 0;
}

.portfolio-img h5,
.portfolio-img p {
    text-align: right;
    position: absolute;
    z-index: 2;
    color: #fff;
    margin: 0;
}

.portfolio-img h5 {
    bottom: 3rem; /* Adjust this line to change the vertical position of the company name */
    right: 1rem; /* Change this line to align the text to the left */
}

.portfolio-img p {
    display: block;
    bottom: 1rem; /* Adjust this line to change the vertical position of the company description */
    right: 1rem; /* Change this line to align the text to the left */
    width: 90%;
    /* Truncate the text to 1 line */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    background-color: white; /* #f8f9fa */
    padding: 1rem 0;
    text-align: center;
    padding: 2rem;
    padding-top: 3rem;
}


@media (max-width: 767px) {

    .h1 {
        font-size: 1.2rem;
    }

    .spacer {
        height: 2px;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .content-section {
        margin-top: 5%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1.5rem;
    }

    .portfolio-img h5,
    .portfolio-img p {
        right: 1rem;
        text-align: right;
    }

    .portfolio-img h5 {
        font-size: 1.2rem;
        bottom: 2.5rem;
    }

    .portfolio-img p {
        font-size: 0.7rem;
        bottom: 1rem;
    }
}